@import "tailwindcss";

@font-face {
  font-family: "InterVariable";
  src: url("/fonts/InterVariable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "InterVariable";
  src: url("/fonts/InterVariable-Italic.woff2") format("woff2");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

:root {
  --bg-primary: #f8fafc; /*slate-50 */
  --bg-secondary: #f1f5f9; /*slate-100 */
  --bg-tertiary: #e2e8f0; /*slate-200 */

  --bg-accent: #f5f5f4; /* stone-100 */
  --bg-compliment: #d1d5db; /* gray-300 */

  --c-primary: #475569; /* slate-600 */
  --c-secondary: #475569; /* slate-600 */
  --c-tertiary: #374151; /* gray-700 */

  --c-accent: #be123c; /* rose-700 */
  --c-compliment: #9ca3af; /* gray-400 */
  --c-link: #2563eb;
  --c-link-transparent: rgba(37, 99, 235, 0.1);

  --c-success: #22c55e; /* green-500 */
  --c-alert: #ef4444; /* red-500 */
  --c-idle: #d97706; /* amber-600 */
  --c-info: #0284c7; /* sky-600 */

  --gradient-start: #8b5cf6; /* violet-600 */
  --gradient-end: #4f46e5; /* indigo-600 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-primary: #1f2937; /* gray-800 */
    --bg-secondary: #111827; /* gray-900 */
    --bg-tertiary: #030712; /* gray-950 */
    --bg-accent: #fef3c738;
    --bg-compliment: #4b5563; /* gray-600 */

    --c-primary: #94a3b8; /* slate-400 */
    --c-secondary: #cbd5e1; /* slate-300 */
    --c-tertiary: #e2e8f0; /* slate-200 */

    --c-accent: #fcd34d; /* amber-300 */
    --c-compliment: #9ca3af; /* gray-400 */
    --c-link: #60a5fa;
    --c-link-transparent: rgba(37, 99, 235, 0.1);

    --c-success: #4ade80; /* green-400 */
    --c-alert: #f87171; /* red-400 */
    --c-idle: #f59e0b; /* amber-500 */
    --c-info: #0ea5e9; /* sky-500 */

    --gradient-start: #a78bfa; /* violet-400 */
    --gradient-end: #6366f1; /* indigo-500 */
  }
}

:root.dark {
  --bg-primary: #1f2937; /* gray-800 */
  --bg-secondary: #111827; /* gray-900 */
  --bg-tertiary: #030712; /* gray-950 */
  --bg-accent: #fef3c738;
  --bg-compliment: #4b5563; /* gray-600 */

  --c-primary: #94a3b8; /* slate-400 */
  --c-secondary: #cbd5e1; /* slate-300 */
  --c-tertiary: #e2e8f0; /* slate-200 */

  --c-accent: #fcd34d; /* amber-300 */
  --c-compliment: #9ca3af; /* gray-400 */
  --c-link: #60a5fa;
  --c-link-transparent: rgba(37, 99, 235, 0.1);

  --c-success: #4ade80; /* green-400 */
  --c-alert: #f87171; /* red-400 */
  --c-idle: #f59e0b; /* amber-500 */
  --c-info: #0ea5e9; /* sky-500 */

  --gradient-start: #a78bfa; /* violet-400 */
  --gradient-end: #6366f1; /* indigo-500 */
}

@custom-variant dark (&:where(.dark, .dark *));

* {
  box-sizing: border-box;
}

html {
  font-family: "InterVariable", sans-serif;
  font-feature-settings: "cv11" 1;
  font-variant-alternates: stylistic(cv11);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0.5rem;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #d1d5db; /* gray-300 */
  border-radius: 0.25rem;
}

.dark .custom-scrollbar::-webkit-scrollbar-track {
  background: #4b5563; /* gray-600 */
  border-radius: 0.25rem;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #be123c; /* rose-700 */
  border-radius: 0.25rem;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #9f1239; /* rose-800 */
  border-radius: 0.25rem;
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background: #fcd34d; /* amber-300 */
  border-radius: 0.25rem;
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #fbbf24; /* amber-400 */
  border-radius: 0.25rem;
}

@theme {
  --animate-bounce: bounce 2s infinite;

  @keyframes bounce {
    0%,
    100% {
      transform: translateY(-75%);
      animation-timing-function: ease-out;
    }
    50% {
      transform: translateY(2px);
      animation-timing-function: ease-out;
    }
  }
}

@theme {
  --animate-fade-in: fade-in 1500ms cubic-bezier(0.22, 1, 0.36, 1) forwards;

  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(16px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
